<html>
<head>
<title>Jared Grippe's Resume</title>
<style>

body, html{
 text-align: left;
 padding: 0;
 margin: 5px;
 font-family: arial,helvetica,verdana;
}
body{
 padding: 0 40px 20px 40px;
 font-size: 15px;
}

a,
a:visited{
 color: blue;
 text-decoration: none;
}
a:hover{
 text-decoration: underline;
}

#contactInfo{
 text-align: right;
 line-height: 25px;
 font-size: 17px;
}

h2{
 font-size: 17px;
 font-weight: bold;
 display: block;
 position: relative;
 left: -40px;
}
h3,h4{
 font-size: 15px;
 font-weight: normal;
 text-decoration: underline;
 display: inline;
 position: relative;
}
h4{
 font-size: 13px;
}
.titleBar h2,
.titleBar h3,
.titleBar h4{
 display: inline;
}
.titleBar h4{
 text-decoration: none;
}


ul{
 padding: 0;
 margin: 0;
 list-style-type: none;
}
ul.withBullits{
 list-style-type: circle;
 margin-left: 23px;
}

.subsection{
 margin: 0 0 10px 0;
}
.subsection .list{
 margin: 10px 0 0 40px;
}
.job{
 font-size: 15px;
 margin-bottom: 30px;
}
.job .position{
 font-weight: bold;
 font-size: 14px;
}
.job .position,
.job .date{
/* display: inline; */
}
.job .desc div{
 margin: 5px 0 0 50px;
}
.job .desc h3{
 position: relative;
 left: -10px;
}
.job .desc .clients .timeFrame{
 font-size: 12px;
}
li.client{
 margin-bottom: 1em;
}


#referers{}
.referer{ 
 padding: 0 10px 2em 0;
 float:left;
 margin-right: 10px;
}

</style>
</head>
<body>

<div id="resume">
	<div id="contactInfo">
		<div class="name"> Jared Grippe </div>
    <div class="city"> San Francisco, CA </div>
    <div class="cell"> 415 307 4360 </div>
    <div class="email"><a href="mailto:jared@deadlyicon.com" rel="me">jared@deadlyicon.com</a></div>
		<div class="url"><a href="http://deadlyicon.com/resume" rel="me">http://www.deadlyicon.com/resume</a></div>
	</div>
	
	<div class="section" id="Objective">
		<h2>Objective</h2>
		<p>To create beautiful and intuitive web applications.</p>
		<p>
			I have absolutely fallen in love with writing rich Javascript applications. Over the years I have worked with a lot of 
			back-end languages like PHP and Perl but never have I found my self coding so passionately as I do when I'm writing 
			Javascript. Especially with a Rails back end. My ideal working environment is a small to medium sized team of specialized
			developers where I play a primarily front-end development roll.
		</p>
	</div>
	
	<div class="section" id="skillSet">
		<h2>Skill Set</h2>

		<div class="subsection" id="languages">
			<div class="titlebar">
				<h3>Languages</h3>
			</div>
			<div class="list">
				HTML, XHTML, XML, JSON, CSS, Javascript, Perl, PHP, Ruby, MYSQL, Bash
			</div>
		</div>

		<div class="subsection" id="frameworks">
			<div class="titlebar">
				<h3>Frameworks &amp; Libraries</h3>
			</div>
			<div class="list">
				<div><h4>Javascript</h4>: Prototype, Scriptaculous, Extjs, jQuery, Yahoo! UI, MooTools</div>
				<div><h4>Ruby</h4>: Rails</div>
			</div>
		</div>

		<div class="subsection" id="languages">
			<div class="titlebar">
				<h3>Techniques &amp; Technologies</h3>
			</div>
			<div class="list">
				REST, CRUD, Agile
			</div>
		</div>

		<div class="subsection" id="browser">
			<div class="titlebar">
				<h3>Browser Support</h3>
			</div>
			<div class="list">
				Firefox 1.5.x, Firefox 2.x IE5.5.x, IE6, IE7, Safari 2.x, Safari 3.x, Opera
			</div>
		</div>


		<div class="subsection" id="os">
			<div class="titlebar">
				<h3>Software</h3>
			</div>
			<div class="list">
				TextMate, Eclipse, Firebug, Photoshop, VIM
			</div>
		</div>


		<div class="subsection" id="os">
			<div class="titlebar">
				<h3>Operating Systems</h3>
			</div>
			<div class="list">
				Windows 2000/XP/Vista, OS X, Linux
			</div>
		</div>




	</div>
	
	
	
	<div class="section" id="expirence">
		<h2>Experience</h2>

		<div class="subsection job">
			<div class="position">Senior Software Engineer</div>
			<div class="date">June 08 - Present</div>
			<div class="company">
				<a href="http://www.verticalresponse.com">
					Vertical Response
				</a>	
			</div>
			<div class="desc">	
				<div class="duties">
					<h3>Duties</h3>
          <!-- My job title is technically <i>Senior Software Engineer</i> but it really should be something like <i>Senior Dynamic 
          HTML Application Engineer</i> because thats the bulk of what I do here. I work with a team of 5 software engineers to
          maintain and grow <a href="http://www.verticalresponse.com">http://www.verticalresponse.com</a>.  -->
          My responsibilities at VR range from everything from rest API design in rails to rich DHTML application design and
          development. When I was hired their application was in the middle of a long migration from PHP to Rails so my day often 
          also includes small modifications to a hugely complicated and undocumented PHP app. 
				</div>
				<div class="tech">
					<h3>Technologies/tools used</h3>
					Ruby, Rails, PHP, Javascript, Prototype, AJAX, DHTML, REST, XML, JSON, linux administration
				</div>
			
			</div>
		</div>


		<div class="subsection job">
			<div class="position"> Independent Web Developer</div>
			<div class="date"> November 2005 - Present </div>
			<div class="location">
				In San Francisco, Wellington, New Zealand &amp; Bangkok, Thailand
			</div>
			<div class="desc">
				<div class="duties">
					<h3>Description:</h3>				
					Over the past two years I've worked on a variety of projects ranging from simple shell scripts to complete web 
					site design and creation. A majority of this time was spent working part time as I traveled trough New Zealand 
					and south east Asia. Several months of that time was spent working full time in Wellington, New Zealand and Bangkok, Thailand. 
					Since my return to the U.S. in July 07 I've been working full time for an array of clients. There are some of the more
					mentionable projects.
				</div>
				<div class="clients">
					<h3>Clients:</h3>
					<ul>
						<li class="client">
							<span class="name">Thermography LLC</span>,
							<span class="timeFrame">February 2008</span>
							<small><a href="http://thermographyllc.com/">http://thermographyllc.com/</a></small>
							<div class="desc">
								<p>
									This site was a lot of fun to make. <a href="http://thermographyllc.com/">Check it out</a> and don't forget 
									to use your arrow keys. This simple portal site is probably the most flashy site I've worked on to date. 
									The layout and imagery was designed by Jeffery Dela Cruz and the code, in its entirety, was developed by me. 
								</p>
							</div>
							<div class="technologies">
								<h4>Technologies/Tools used:</h4>
								HTML, Javascript, Prototype, Scriptaculous
							</div>
						</li>
						
						<li class="client">
							<span class="name">Synapse group</span>,
							<span class="timeFrame">December 2007 - Present</span>
							<small><a href="http://synapsegroup.com/">http://synapsegroup.com/</a></small>
							<div class="desc">
								<p>
									I am currently developing several websites as a sub contractor for the Synapse Group firm. The only sites
									available for public viewing are <a href="http://www.skyfire.com">www.skyfire.com</a> and <a href="http://www.toprank.com">www.toprank.com</a>.
								</p>
								<p>
									For Skyfire I developed a lot of customized form elements. You can see a great example of these elements on
									<s><a href="http://www.skyfire.com/sign-up/form/">this page</a></s> and the one following it. The red arrow 
									that follows your focus is an extremely flexible object that I hope to one day release for public use. 
									It can be instructed to automatically point at any page element when focused, its super lightweight and very configurable. 
								</p>
								<p>
									Another aspect of that form you should checkout is the phone number fields. Pretend the three fields are just 
									one field and you can seamlessly type in and delete your phone number. None of the Javascript on this
									site is compressed so feel free to observe the <a href="http://www.skyfire.com/pub/scripts/common.js">source</a>.
								</p>
								<p>
									<a href="http://www.toprank.com">Top Rank</a> had some interesting requests. One of the more odd task which I also intend to
									release publicly is the scrollbar simulation found on most pages. The scrollbar is written entirely in Javascript and 
									can be easily configured to automatically take over for any element that would naturally have a native scrollbar. 
									The richest page on <a href="http://www.toprank.com">toprank.com</a> is the <a href="http://toprank.com/fighters">Fighters</a> page. 
									This is a good page to see the custom scrollbar in actions along side a nice image slider.
								</p> 
							</div>
							<div class="technologies">
								<h4>Technologies/Tools used:</h4>
								HTML, XML, CSS, MYSQL, Javascript, Prototype, Scriptaculous
							</div>
						</li>
						<li class="client">
							<span class="name">Brightir.com</span>,
							<span class="timeFrame">December 2007 - January 2008</span>
							<small><a href="http://www.brightir.com/">http://www.brightir.com/</a></small>
							<div class="desc">
								Developed the following three animated tools in dhtml:
								<ol class="withBullits">								
									<li>
										<strong><a href="http://www.brightir.com/about/infrared/medical+infrared/thermography/educational+portal">Sliding Tiles Menu</a></strong> - 
										The tile based menu uses scriptaculous and transparent
										PNGs. As you mouse over each tile extra information about each tile slides out from under 
										the into the center.
									</li>
									<li>
										<strong><a href="http://www.brightir.com/about/infrared/medical+infrared/thermography/educational+portal">E-Mail To A Friend Slider</a></strong> - 
										To see this tool <a href="http://www.brightir.com/about/infrared/medical+infrared/thermography/educational+portal">click here</a>. After the page loads click
										on the 'E-Mail To A Friend' link found at the bottom of the blue box on the right hand 
										side of the page.
									</li>
									<li>
										<strong><a href="http://www.brightir.com/about/applications/medical+infrared/thermography/educational+portal">Image Palette Selector</a></strong> - 
										The palette selector uses an array of images and some simple css changing javascript to
										switch between the positions and color palettes.
									</li>
								</ol>
							</div>
							<div class="technologies">
								<h4>Technologies/Tools used:</h4>
								Ajax, Javascript, HTML, CSS, Perl, Prototype, Scriptaculous
							</div>
						</li>
						<li class="client">
							<span class="name">A1 Networking</span>,
							<span class="timeFrame">December 2006 - Present</span>
							<div class="desc">
								Working part time over the course of 10 months I co-developed and created the entire web interface for 
								an existing system update management product. This application is a single page interface built entirely 
								using AJAX and other web 2.0 technologies. <!-- You can see a demo of the application 
								<a href="http://deadlyicon.com/resume/examples/ncus/">here</a>. -->
								Feel free to check out the 
								<a href="http://deadlyicon.com/resume/examples/ncus/js/pageInitialize.js"> javascript</a>
								or <a href=" examples/ncus/getdata.txt">perl</a> code.
							</div>
							<div class="technologies">
								<h4>Technologies/Tools used:</h4>
								HTML, XML, CSS, MYSQL, Javascript, Perl, Prototype, Scriptaculous
							</div>
						</li>
						<li class="client">
							<span class="name">Central Sense</span>,
							<span class="timeFrame">July 2007 - December 2007</span>
							<div class="desc">
								Integrated AJAX and other Web 2.0 technologies in to Central Sense's existing project management site. This 
								mainly consisted of editable data grids, live form validation and other specialized data entry tools.
							</div>
							<div class="technologies">
								<h4>Technologies/Tools used:</h4>
								HTML, XML, CSS, Javascript, Prototype, Extjs
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="subsection job">
			<div class="position"> Facilities Engineer	</div>
			<div class="date"> 	2001 - 2005</div>
			<div class="company">
				<a href="http://www.sonic.net">
					Sonic.net - Internet Service Provider	
				</a>	
			</div>
			<div class="desc">	
				<div class="duties">
					<h3>Duties</h3>
					Maintained the Toshiba Telekol phone system. Managed the majority of the physical instillation, upgrade and maintenance of 
					their latest data center facility. Developed internal web based system management and trouble shooting tools as well as 
					upgraded existing tools with web 2.0 technologies as they became available.
				</div>
				<div class="tech">
					<h3>Technologies/tools used</h3>
					Toshiba Telekol hardware and software, BASH, Linux systems, HTML, XML, Javascript, AJAX
				</div>
			
			</div>
		</div>

		<div class="subsection job">
			<div class="position"> Technical Support </div>
			<div class="date"> 1999 - 2001</div>
			<div class="company">  
				<a href="http://www.sonic.net">
					Sonic.net - Internet Service Provider	
				</a>	
			</div>
			<div class="desc">	
				<div class="duties">
					<h3>Duties</h3>
						Worked as a phone agent in the technical support call center assisting customers with new and existing accounts. Other 
						tasks also include writing simple shell scripts to automate common tasks. When I started working for sonic.net when I 
						was 16 and worked in Technical Support. With in two years I advanced to the operations department where my position 
						included coding internal shell tools and management of the building phone system. In 2003 the company moved in to a new 
						building at which time I was tasked with a majority of the physical instillation of their new data center. Other tasks 
						included the development of several internal web based system management and trouble shooting tools. As more and more 
						web 2.0 technologies became available I began integrating these technologies in to existing Internet and external tools.
				</div>
				<div class="tech">
					<h3>Technologies/tools used</h3>
					BASH, Linux systems, 
				</div>
			
			</div>
		</div>

	</div>

<!-- 
	<div class="section" id="aboutMe">
		<span class="title">
		About Me
		</span>
		<p>
		I've been working directly with the internet since I was 16. Throughout this time I have maintained a constant passion for useful and 
		beautiful web tools. I take my work very seriously while at the same time I thrive in an artistic and fun office environment. While my 
		natural talents tend to lean more toward the technical side rather then the artistic I have a good eye for what is and isn't aesthetically 
		pleasing.
		</p><p> 
		All of my skills have been self taught and/or obtained on the job so I adapt well to projects that require me to learn new skills.
		I'm always eager to acquire knowledge so i take additional pleasure in tasks that require skills I do not yet have. I also enjoy the 
		opportunity to work with others but am more the capable at completing solo tasks efficiently. I have a keen eye for detail and spend great 
		effort ensuring that my final products looks and feel as well as its code are orderly and beautiful.
		</p>
	</div>
 -->	

	<div class="section" id="training">
		<h2>Training</h2>
		HTML, CSS, DHTML, XHTML, AJAX, AJAH, JSON, Web 2.0 best practices, Browser specific Javascript & CSS differences. 
	</div>

	<div class="section" id="references">
		<h2>References</h2>	

		<div id="referers">
			<div class="referer">
				<div class="name">Andy Mayer</div>	
				<div class="title">CTO</div>	
				<div class="employer"><a href="http://www.synapsegroup.com/">synapsegroup.com</a></div>
				<div class="phone">(707) 331 0701</div>	
				<div class="email"><a href="mailto:andy.mayer@synapsegroup.com" rel="friend met colleague"de>andy.mayer@synapsegroup.com</a></div>
			</div>
			<div class="referer">
				<div class="name">Chris Widden</div>	
				<div class="title">Volltron President</div>	
				<div class="employer"><a href="http://www.volltron.com/">volltron.com</a></div>
				<div class="phone">(707) 799 7770</div>	
				<div class="email"><a href="mailto:chris@volltron.com" rel="friend met colleague">chris@volltron.com</a></div>
			</div>
			<div class="referer">
				<div class="name">Trevor Benson</div>	
				<div class="title">CEO</div>	
				<div class="employer"><a href="http://www.a-1networks.com/">A1 Networks</a>, Net Crucial</div>
				<div class="phone">(707) 570-2021 ex/201</div>	
				<div class="email"><a href="mailto:TrevorBenson@a-1networks.com" rel="friend met colleague">TrevorBenson@a-1networks.com</a></div>
			</div>
			<div class="referer">
				<div class="name">Apolonio Valdovinos</div>	
				<div class="title">CEO</div>	
				<div class="employer"><a href="http://centralsense.com/">Central Sense</a></div>
				<div class="phone">(415) 336 5186</div>	
				<div class="email"><a href="mailto:apolonio@centralsense.com" rel="friend met colleague">apolonio@centralsense.com</a></div>
			</div>
			<div class="referer">
				<div class="name">Jen Moyer</div>	
				<div class="title">General Manager</div>	
				<div class="employer"><a href="http://www.sonic.net">Sonic.net</a></div>
				<div class="phone">(707) 799-5567</div>	
				<div class="email"><a href="mailto:jen@corp.sonic.net" rel="friend met colleague">jen@corp.sonic.net</a></div>
			</div>
		</div>
		
	</div>

</div>
</div>

<%= render :partial => 'layouts/google_analytics' %>
</body>
</html>
